:root {
	--background-body: #fefdfd;
	--orange: #df964e;
	--black: #0e0e0e;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--background-body);
	font-family: 'Roboto', sans-serif;
}
.cardShadow {
	border: 3px groove rgba(172, 115, 100, 0.75);
}
