body {
	margin: 0;
	padding: 0;
}
@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 102%;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.animate-typewriter {
	animation: typewriter 4s steps(40) 1s 1 normal both;
}
